body {
  background-color: lightblue;
}
h1 {
  color: darkblue;
}
p {
  color: cadetblue;
}
a {
  color: purple;
}

#titles {
        top: 40%;
        position: absolute;
        left: 35%;
    }

#mainText {
        position: fixed;
        width: 100%;
        height: 800px;
        background-image: url("https://ak5.picdn.net/shutterstock/videos/1011341165/thumb/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
