body {
  background-color: lightblue;
}
h1 {
  color: darkblue;
}
p {
  color: darkblue;
}
a {
  color: purple;
}

#titles {
        top: 40%;
        position: absolute;
        left: 35%;
    }

#mainText {
        position: fixed;
        width: 100%;
        height: 800px;

    }
