body {
  background-color: black;
}
h1 {
  color: cyan;
}
p {
  color: cyan;
}
a {
  display:inline-block;
  color: darkgreen;
}

#titles {
        top: 40%;
        position: absolute;
        left: 35%;
    }

#mainText {
        position: fixed;
        width: 100%;
        height: 800px;

    }
